h1{
    border:2px solid black;
    text-align: center;
    color: #ffa511;
    font-family: arial;
    text: size 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    text-decoration: teal double underline;

}